<section >
    <div class="stay container text-center py-5">  
    <div class="row justify-content-center ">
        <div class="col rounded-circle fa-2x p-3" aria-hidden="true" style="background-color: #249063;color: white; max-width:fit-content">
            <i class="bi bi-envelope-fill"></i>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl col-sm">
            
        </div>
        <div class="col-xl-8 col-sm-12 mt-3">
            <h3 class="font-weight-bold">Stay Updated!</h3>
                <p class="lead">To Stay updated about our products and ideas, subscribe to us so that we can update you about our latest news.</p>

                    <form action="#" method="post" class=" mt-2 mb-5 btns ">
                        <div class="d-flex mt-5">
                            <input class="form-control form-control-lg border-0 rounded-0" type="email" placeholder="Enter your email..." name="email"
                                    required="">
                              <button class="btn  form-control form-control-lg w-50 border-0 rounded-0" style="background-color:#249063;color: white;" type="submit">Subscribe</button>
                        </div>
                    </form>
        </div>
        <div class="col-xl col-sm ">				
        </div>
    </div>
</div>
</section>

