.banner
{
    height: 100%;
    margin-top: 5%;
}

.row h1{
  font-family: Arial;
  font-weight: 800;
  color: #FFFFFF;
}

.row span
{
  color: #249063;
  font-family: Arial;
  font-weight: 800;
}

p{
    font-size: 15px;
}

video
{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  mix-blend-mode: overlay;
  z-index: -1;
}

img{
  max-height: 50%;
  margin-top: 15%;
}


  @keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
  .spinlogo {
    animation-name: spin3D;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
}

@media (width: 768px) { 
  
  img{
    max-height: 25%;
  }

 }

 @media (width: 1024px) { 
  
  img{
    max-height: 25%;
  }

 }