<section class="banner">
    <div class="header container">
    <div class="row">
        <div class="col-xl-8 ">
            <h1 class="display-4 mt-5">StackSystem</h1>
            <h2 class="tagline fw-bold">Secure Coding Secure Digital</h2>
            <p class=" mt-4 lead text-white">We have a handful of skeptics that like to challenge our own
                assumptions and a group of perfectionists that don’t know when to quit.
                We’re thinkers and innovators who are determined to re-imagine the way we do digital.</p>
        </div>
        <video src="../../../assets/videos/1.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="col-xl-4 ">
            <img src="../../../assets/images/logo.png" alt="logo" class="img-fluid  border-0  mx-auto d-block spinlogo">
        </div>
    </div>
</div>
</section>