<section class="w3l-content-6 mt-5 py-5" id="SecureDevelopment">
    <!-- /content-6-main-->
    <div class="content-6-mian">
        <div class="container py-lg-5 py-md-4 APAboutSection">
            <div class="content-info-in row ">
                <div class="content-gd col-lg-6 pr-lg-4">
                    <div class="title-content text-left mb-sm-4 mb-3">
                        <h3 class=" text-white">
                            Who We Are </h3>
                        <h3 class="title-big text-white ">
                            We have <span>Secure Development</span> industry experience.</h3>
                    </div>
                    <h4 class="mb-sm-4 mb-3 text-white">
                        "Our only Aim, Happy clients."</h4>
                    <a class="nav-link mt-5 font-weight-bold " style="color:#249063;" href="about.html">Know More</a>

                </div>
                <div class="content-gd col-lg-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">

                    <img src="./assets/images/sdbanner.svg" alt="about" class="radius-image img-fluid">

                </div>
            </div>
        </div>
</div>
</section>