<div class="container ">
    <div class="container contact-talk text-center">
        <div class="row ">
            <div class="col-xl col-sm">
                <h3 class="font-weight-bold mt-5 pt-2 txtcolor">Let's Talk</h3>
            </div>
        </div>
        <div class="row pb-4 justify-content-center">
            <div class="col-xl col-md col-sm talk m-2 mt-3 border-gradient border-gradient-purple">
                
                <h4 class="mt-4 txtcolor" >HR Releated Queries</h4>
                <p class="mt-4 lead txtcolor"> hr@stacksystem.in</p>
                
            </div>
            <div class="col-xl col-md col-sm talk m-2 mt-3 border-gradient border-gradient-green">
                
                <h4 class="mt-4 txtcolor" >Any Query</h4>
                <p class="mt-4 lead txtcolor">info@stacksystem.in</p>
                
            </div>
            <div class="col-xl col-md col-sm talk m-2 mt-3 border-gradient border-gradient-yellow">
                
                <h4 class="mt-4 txtcolor">Sales Services</h4>
                <p class="mt-4 lead txtcolor">sales@stacksystem.in</p>
                
            </div>
        </div>
    </div>
</div>