.container
{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 20%;
    padding: 5px;
  }

  a{
      color: #FFFFFF;
  }

  a:hover{
    color: #FFFFFF;
}