<section class="w3l-grids-3 text-white py-5">
    <div class="container py-5">
      <div class="container-fluid">
      <div class="row mt-5">
        <div class="col">
          <div class="col-lg-12 ">
            <h3 class="title-big mb-4">
              Brands that trust on Stack<span style="color:#249063; ">System</span></h3>
            <p class="">Working with our partnners They know we are always innovating with their needs in mind and that, with us, they have access to the most cutting-edge technology, tailored support and valuable expertise </p>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <div class="column">
          <img src="../../../assets/images/ASP.png" alt="Snow" style="width:100%">
        </div>
        <div class="column">
          <img src="../../../assets/images/kubotor.png" alt="Forest" style="width:100%">
        </div>
        <div class="column">
          <img src="../../../assets/images/alphaComplex.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column">
          <img src="../../../assets/images/sahfweb.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column">
          <img src="../../../assets/images/southcity.png" alt="Mountains" style="width:100%">
        </div>
      </div>
      <a class="nav-link" routerLink="/customers" routerLinkActive="Active">Viwe More</a>
     </div>
</div>
  </section>
  