.container
{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 20%;
    padding: 5px;
  }

  a{
      color: #FFFFFF;
  }

  a:hover{
    color: #FFFFFF;
}


@media only screen and (max-width: 425px) {
  .column {
    flex: 50%;
    padding: 10px;
  }
}

h3{
  font-family: Arial;
  font-weight: 700;
}
h3 span{
  font-family: Arial;
  font-weight: 700;
}
