<div class="container contact-header">
    <h1 class="font-weight-bold text-left">StayConnect</h1>
    <div class="row">
        <div class="col-xl mt-5 m-2">
            
            <img src="../../../assets/images/connect.svg" class="img-fluid  border-0 w-100 mx-auto d-block "> 
        </div>
        <div class="col-xl-7 m-2">
            <form>
                <div class="row mt-5">	
                    <div class="col-xl">								
                        <div class="form-group m-2 mt-3 txtcolor">
                            <label for="Inputname1">First Name</label>
                            <input type="textbox"  class="form-control  txtbox " id="Inputnname1" required=""  placeholder="Enter Your first Name...">
                        </div> 
                    </div>
                    <div class="col-xl">
                        <div class="form-group m-2 mt-3 txtcolor ">
                            <label for="Inputname2">Last Name</label>
                            <input type="textbox"  class="form-control input-control txtbox " id="Inputnname2" required="" placeholder="Enter Your Last Name..." >
                        </div>   
                    </div>
                    <div class="w-100"></div>
                    <div class="col-xl">
                        <div class="form-group m-2 mt-3 txtcolor">
                            <label for="Inputnumber">Mobile</label>
                            <input type="textbox"  class="form-control input-control txtbox  " id="Inputnumber" required="" placeholder="Number" >
                        </div> 
                    </div>
                    <div class="col-xl">
                        <div class="form-group m-2 mt-3 txtcolor">
                            <label for="Inputemail">Email</label>
                            <input class="form-control  input-control txtbox" type="email"  name="email" id="Inputemail"	required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-xl">
                        <div class="form-group m-2 mt-3 txtcolor">
                            <label for="exampleFormControlTextarea1">Your Message</label>
                            <textarea class="form-control txtbox  w-100 input-control" id="exampleFormControlTextarea1" rows="1" placeholder="Enter Your Message Here..." ></textarea>
                        </div> 
                    </div>
                    <div class="w-100"></div>
                    <div class="col-xl">
                        <button class="btn  form-control txtbox rounded-0 mt-4" style="background-color:#269261;color: white;" type="submit">Send</button>                			
                    </div>
                </div>
            </form>
        </div>  				
    </div>   	
</div>