<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class=" font-weight-bold">Stack<span style="color: #249063;">System</span> Servies</h1>
            <p class=" mt-4 txtpsize">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit.</p>
            <p class=" mt-4 txtpsize">Suspendisse porta erat sit amet eros sagittis, quis hendrerit libero aliquam. Fusce semper augue ac dolor efficitur.</p>
            
        </div>
        <div class="col-xl-7">
                <img src="./assets/images/services.svg" class="img-fluid border-0 rounded mx-auto d-block">    			
        </div>
    </div>
</div>
