<div class="container txtcolor">
    <div class="row mt-5">
        <div class="col">
            <h3 class="text-center mt-5 ">Our Awesome Team</h3>
        </div>
    </div>
</div>
<section class="w3l-team-main" id="team">
<div class="team py-1 mb-5">
    <div class="container py-lg-1 AboutPageTeam">
        <div class="row team-row mt-md-5 mt-4  justify-content-center">
            <div class="col-lg-3 col-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="../../../assets/images/3ps.png" class="img-fluid radius-image" alt="">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                  <a href="https://www.facebook.com/rupeshmeher4u/">
                                  <span><i class="bi bi-facebook"></i></span></a>  
                                  <a href="https://twitter.com/rupeshmeher4u">
                                  <span class="bi bi-twitter" aria-hidden="true"></span></a>
                                  <a href="https://www.linkedin.com/rupeshmeher4u/">
                                        <span class="bi bi-linkedin"></span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">
                        Rupesh Kumar Meher</a>
                    <p class = "designation">CEO and Founder</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="../../../assets/images/3ps.png" class="img-fluid radius-image" alt="">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                  <a href="https://www.facebook.com/rupeshmeher4u/">
                                  <span class="bi bi-facebook" aria-hidden="true"></span></a>  
                                  <a href="https://twitter.com/rupeshmeher4u">
                                  <span class="bi bi-twitter" aria-hidden="true"></span></a>
                                  <a href="https://www.linkedin.com/in/rupeshmeher4u/">
                                  <span class="bi bi-linkedin" aria-hidden="true"></span></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">
                    Surya kanta Dhal</a>
                    <p class = "designation">R&D and Engineering Head</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="../../../assets/images/3ps.png" class="img-fluid radius-image" alt="">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                  <a href="https://www.facebook.com/rupeshmeher4u/">
                                  <span class="bi bi-facebook" aria-hidden="true"></span></a>  
                                  <a href="https://twitter.com/rupeshmeher4u">
                                  <span class="bi bi-twitter" aria-hidden="true"></span></a>
                                  <a href="https://www.linkedin.com/rupeshmeher4u/">
                                        <span class="bi bi-linkedin"></span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">
                        Himansu Bhatt</a>
                    <p class = "designation">VPO and CISO</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 team-wrap">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="../../../assets/images/3ps.png" class="img-fluid radius-image" alt="">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                  <a href="https://www.facebook.com/rupeshmeher4u/">
                                  <span class="bi bi-facebook" aria-hidden="true"></span></a>  
                                  <a href="https://twitter.com/rupeshmeher4u">
                                  <span class="bi bi-twitter" aria-hidden="true"></span></a>
                                  <a href="https://www.linkedin.com/rupeshmeher4u/">
                                        <span class="bi bi-linkedin"></span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#url" class="team-title">
                        Zemes </a>
                    <p class = "designation">Product Head</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
