<section class="py-5">
    <div class="container-fluid py-5">
        <div class="row abouts-head">
            <div class="col-xl">
                <h1 class="text-center" >
                    How Stack<span style="color: #249063;">System</span> Start ?
                </h1>
            </div>
        </div>
    </div>
       <div class="container about-header">    		
        <div class="row text-center mt-5 justify-content-sm-center">
            <div class="col-xl col-sm-5   ">
                <div class="media-body">
                    <img src="./assets/images/learn.svg" alt="Development"  >    				
                        <p class="mt-4 lead "style="color:#249063;"> Learn
                    </div>
            </div>
            <div class="col-xl  col-sm-5  ">
                <div class="media-body">
                <img src="./assets/images/friend.svg" alt="Development"  >    				
                <p class="mt-4 lead"style="color:#249063;">Friends 			
                </p>
                
                </div>
            </div>
            <div class="col-xl  col-sm-5  ">
                <div class="media-body">
                    
                <img src="./assets/images/plan.svg" alt="Development">    				
                <p class="mt-4 lead" style="color:#249063;">Plan			 
                </p>
                </div>
            </div>
            <div class="col-xl  col-sm-5">
                <div class="media-body">
                    
                <img src="./assets/images/stacksystemhouse.svg" alt="Development"  >    				
                <p class="mt-4 lead" style="color:#249063;">StackSystem			 
                </p>
                </div>
            </div>
        </div>

</div>
        <div class="jumbotron jumbotron-fluid py-5">
            <div class="container">
              <h2>About Stack<span style="color: #249063;">System</span> </h2>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.This is a modified jumbotron 
                  that occupies the entire horizontal space of its parent.This is a modified jumbotron that occupies the entire horizontal space of 
                  its parent.This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
        
</section>