<section class="py-5">
  <div class="sdscrd container py-5">
  <div class="row text-center mt-4 ">
      <div class="col indcard m-3 mt-3">
        <div class="card-text">
          <div class="desktop">
          </div>
          <div>   
            <h2>Desktop Application</h2>
            <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
            <div class="actions">
              <button><i class="bi bi-envelope-fill "></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col indcard m-3 mt-3">
        <div class="card-text">
          <div class="web">
          </div>
          <div>   
            <h2>Web Application</h2>
            <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
            <div class="actions">
              <button><i class="bi bi-envelope-fill "></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col indcard  m-3 mt-3">
        <div class="card-text">
          <div class="Enterprise">
          </div>
          <div>   
            <h2>Enterprise Application</h2>
            <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
            <div class="actions">
              <button><i class="bi bi-envelope-fill "></i></button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row text-center mt-4 ">
    <div class="col indcard m-3 mt-3">
      <div class="card-text">
        <div class="android">
        </div>
        <div>   
          <h2>Android Application</h2>
          <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
          <div class="actions">
            <button><i class="bi bi-envelope-fill "></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col indcard m-3 mt-3">
      <div class="card-text">
        <div class="ios">
        </div>
        <div>   
          <h2>iOS Application</h2>
          <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
          <div class="actions">
            <button><i class="bi bi-envelope-fill "></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col indcard  m-3 mt-3">
      <div class="card-text">
        <div class="hybrid">
        </div>
        <div>   
          <h2>Hybrid Application</h2>
          <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
          <div class="actions">
            <button><i class="bi bi-envelope-fill "></i></button>
          </div>
        </div>
      </div>
    </div>
</div>	
</div>
</section>