<app-header></app-header>
<div class="container bgcolour">
    <div class="row mt-5">
        <div class="col-xl-5">
            <h1 class=" font-weight-bold txtcolor">Welcome to our Stack<span style="color: #249063;">Career</span></h1>
            <p class=" mt-4 txtpsize txtcolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit.</p>
            <p class=" mt-4 txtpsize txtcolor">Suspendisse porta erat sit amet eros sagittis, quis hendrerit libero aliquam. Fusce semper augue ac dolor efficitur.</p>
            
        </div>
        <div class="col-xl-7">
                <img src="../../assets/images/career.svg" class="img-fluid border-0 rounded mx-auto d-block">    			
        </div>
    </div>
</div>

<!--Carrers In Stack System-->
<div class="container-fluid">
    <div class="container header-extra text-center">
        <h4 class="font-weight-bold pt-5 pt-2 txtcolor">Career in Stack<span style="color: #249063;">System</span></h4>
        <div class="row pb-5 mt-4 ">
            <div class="col-xl col-md col-sm extra m-2 mt-3  ">    				
                <h4 class="mt-4 txtcolor">Spring Boot Developer</h4>
                <p class=" lead txtcolor"> Experince : 1 to 2 year</p>
                <p class=" lead txtcolor"> Location : Remote</p>
                <p class=" lead txtcolor"> 1 Open Vacancy</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="nav-link mt-2 font-weight-bold" target="_blank" style="color: #249063;" href="Document/javadeveloper.pdf">View JD</a></li>
                    <li class="list-inline-item"><a class="nav-link mt-2 font-weight-bold" style="color: #249063;" href="#">Apply Now</a></li>
                </ul>
            </div>
            <div class="col-xl col-md col-sm extra m-2 mt-3">    				
                <h4 class="mt-4 txtcolor">Angular Developer</h4>
                <p class=" lead txtcolor"> Experince : 1 to 2 year</p>
                <p class=" lead txtcolor"> Location : Remote</p>
                <p class=" lead txtcolor"> 1 Open Vacancy</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="nav-link mt-2 font-weight-bold" target="_blank" style="color: #249063;" href="Document/javadeveloper.pdf">View JD</a></li>
                    <li class="list-inline-item"><a class="nav-link mt-2 font-weight-bold" style="color: #249063;" href="#">Apply Now</a></li>
                </ul>
            </div>
            <div class="col-xl col-md col-sm extra m-2 mt-3">    				
                <h4 class="mt-4 txtcolor">UI/UX</h4>
                <p class=" lead txtcolor"> Experince : 1 to 2 year</p>
                <p class=" lead txtcolor"> Location : Remote</p>
                <p class=" lead txtcolor"> 1 Open Vacancy</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="nav-link mt-2 font-weight-bold" target="_blank" style="color: #249063;" href="Document/javadeveloper.pdf">View JD</a></li>
                    <li class="list-inline-item"><a class="nav-link mt-2 font-weight-bold" style="color: #249063;" href="#">Apply Now</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>	

<app-subscribe></app-subscribe>
<app-footer></app-footer>
