<section class="w3l-content-6 py-5" id="Stackcelerate">
    <!-- /content-6-main-->
    <div class="content-6-mian">
        <div class="container py-lg-5 py-md-4 APAboutSection">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4 order1">

                    <img src="../../../assets/images/sdbanner.svg" alt="about" class="radius-image img-fluid">

                </div>
                <div class="content-gd col-lg-6 pr-lg-4 order2">
                    <div class="title-content text-left mb-sm-4 mb-3">
                        <h3 class="title-small text-white">
                            Stackcelerate Services </h3>
                        <h3 class="title-big text-white ">
                            Grow Your <span>Business with ZERO Downtime</span>.</h3>
                    </div>
                    <h4 class="mb-sm-4 mb-3 text-white">
                        "Adopt Devops & Agile Clature"</h4>
                    <a class="nav-link mt-5 font-weight-bold " style="color:#249063;" href="about.html">Know More</a>

                </div>
            </div>
        </div>
</div>
</section>