<section>
    <div class="container">
    	<div class="row mt-5">
    		<div class="col-xl-5">
    			<h1 class=" font-weight-bold txtcolor">Welcome to our Stack<span style="color: #b3ff00;">Development</span></h1>
    			<p class=" mt-4 txtcolor txtpsize">Diagonose your requirement and best in class of development . Cutting edge acorss 3'Ps tha tis People, Product and Process along with Agile, DevOPs and Secure Development.</p>    			
    		</div>
    		<div class="col-xl-7">
    				<img src="../../../assets/images/about.svg" alt="" class="img-fluid border-0 rounded mx-auto d-block">    			
    		</div>
    	</div>
    </div>
</section>