<section>
    <div class="piller container">
    <div class="row text-center mt-5">
        <div class="col-xl col-sm">
            <h4 class="font-weight-bold mt-4 pt-2 text-white">Three Pillar of Stack<span style=" color: #249063;">System</span></h4>
        </div>
    </div>
    <div class="row text-center mt-4 ">
        <div class="col indcard m-3 mt-3 border-gradient border-gradient-green" id="dev" >
            <img src="../../../assets/images/development.svg" alt="Development" class="rounded-circle mt-3">
                <h4 class="mt-4 pt-3 cardtitle" >Development</h4>
                <p class="mt-4 pt-4 text-white "> StackSystem work with numerous enterprise technologie and culture to provide highly customized, scalable , robust and integrated products to digitally transform your business.
                </p>
                <a class="nav-link mt-5 font-weight-bold a1" routerLink="/development" routerLinkActive="Active">Know More</a>
        </div>
        <div class="col indcard m-3 mt-3 border-gradient border-gradient-yellow">
            <img src="../../../assets/images/security.svg" alt="SECURITY" class="rounded-circle mt-3">
            <h4 class="mt-4 pt-3 cardtitle2">Security</h4>
            <p class="mt-4 pt-4 text-white">Each product at StackSystem is under the supervision of a dedicated security team that monitors all products severity of vulnerabilities throughout all phases of the development process.
                </p>
                <a class="nav-link mt-5 font-weight-bold a2" href="security.html">Know More</a>
        </div>
        <div class="col indcard  m-3 mt-3 border-gradient border-gradient-red">
            <img src="../../../assets/images/business.svg" alt="BUSINESS" class="rounded-circle mt-3">
            <h4 class="mt-4 pt-3 cardtitle3">Business</h4>
            <p class="mt-4 pt-4 text-white">StackSystem have helped numerous enterprises adopt digital transformation practices aimed at building stronger customer relationships, improving performance and driving growth as per market.
                </p>
                <a class="nav-link mt-5 font-weight-bold a3" href="business.html">   Know More</a>
        </div>
    </div>	
</div>
</section>