<section>
    <div id="footer" class="footer">
    <div class="container ">
        
        <div class="row mt-5">
            <div class="col-lg-3 col-md-4">
                <h4 class="wow fadeInUp">Contact Us</h4>
                <p><i class="fa fa-home" aria-hidden="true"></i> Bhubaneswar,Odisha,IN</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> info@StackSystem.in</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +91-6743566052</p>
            </div>
            
            <div class="col-lg-3 col-md-4">
                <h4 class="wow fadeInUp">About</h4>
                <a href="">
                    <p><i  aria-hidden="true"></i> About Company</p>
                </a>
                <a target="_blank" href="#">
                    <p><i  aria-hidden="true"></i> Education</p>
                </a>
                <a target="_blank" href="#">
                    <p><i  aria-hidden="true"></i> Privacy & policy</p>
                </a>
                <a target="_blank" href="#">
                    <p><i  aria-hidden="true"></i> Term & Condition</p>
                </a>		
            </div>
            <div class="col-lg-3 col-md-4">
                <h4 class="wow fadeInUp">Informtion</h4>
                <a routerLink="/career" routerLinkActive="Active">
                    <p><i  aria-hidden="true"></i>Career</p>
                </a>
                <a routerLink="/blogs" routerLinkActive="Active">
                    <p><i  aria-hidden="true"></i>Blog</p>
                </a>
                <a routerLink="/whitepaper" routerLinkActive="Active">
                    <p><i  aria-hidden="true"></i>Whitepaper</p>
                </a>
                <a routerLink="/spotlights" routerLinkActive="Active">
                    <p><i  aria-hidden="true"></i>Spotlight</p>
                </a>
                        
            </div>
            <div class="col-lg-3 col-md-4">
                <h4 class=" fadeInUp">Stay in touch</h4>
                <div class="wrapper">
                    <div class="icon facebook">
                      <div class="tooltip">Facebook</div>
                      <span><a href="https://www.facebook.com/stacksystem/"><i class="bi bi-facebook"></i></a></span>
                    </div>
                    <div class="icon twitter">
                        
                      <div class="tooltip">Twitter</div>
                      <span><a href="https://twitter.com/itsstacksystem"><i class="bi bi-twitter"></i></a></span>
                    </div>
                    <div class="icon instagram">
                      <div class="tooltip">Instagram</div>
                      <span><a href="https://instagram.com/stacksystem"><i class="bi bi-instagram"></i></a></span>
                    </div>
                    <div class="icon github">
                      <div class="tooltip">Github</div>
                      <span><a href="https://github.com/StackSystem"><i class="bi bi-github"></i></a></span>
                    </div>
                    <div class="icon youtube">
                      <div class="tooltip">Linkedin</div>
                      <span><a href="https://in.linkedin.com/company/stacksystem"><i class="bi bi-linkedin"></i></a></span>
                    </div>
                  </div>
               <div>
                <a class="navbar-brand font-weight-bolder " href="index.html">
                    <img src="../../../assets/images/logo.png" width="32" height="30" class="d-inline-block align-top mr-2 footer-img" alt=""><span class="text-white"> Stack</span><span style=" color: #249063;">System</span>
                    <h6>Secure Coding Secure Digital</h6>
                </a>
               </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <p class="mt-2">© Copyrights reserved | Design by Stack<span style="color: #249063;">System</span></p>
            </div>
        </div>
    </div>
</div>
</section>