<div class="container maps txtcolor">
    <div class="row mt-5 pb-5">
        <div class="col-xl-7">
            <img src="../../../assets/images/mapsvg.svg" alt="" class="img-fluid w-100">
        </div>
        <div class="col-xl-5">
            
                <h3>Geographical Existace</h3>					
                <h5>India</h5>
                <p>Esplanend One , Bhubaneswar ,Odisha PIN-751001,</p><p>Phone:+91 6743566052</p>
                <p>Email: contact.india@stacksystem.in</p>
                <h5>Tanzania</h5>
                <p>Dar es Salaam, Tanzania,Phone:+255688087617</p>
                <p>Email: contact.tanzania@stacksystem.in</p>
                <h5>Nigeria</h5>
                <p>No4 Sokoto Road, Aliero Onion Market, Aliero, Kebbi State, Nigeria Phone: +2347035084418, +2348063524103</p>
                <p>Email: contact.nigeria@stacksystem.in</p>				
        </div>
    </div>
</div>
