/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;   
    margin: 0;
    font-family: Poppins,sans-serif;
}
body {
    position: relative;
    font-family: inherit;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color:#0f0d13;

}
a{
    text-decoration: none;
}