@import url(../../app/aboutus/team/team.component.css);

.download
{
  color: rgb(0, 0, 0);
    font-size: 16px;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    transition: all .3s ease 0s;
    background: rgb(0, 180, 111);
}
.bi
{
  color: black;
}