<app-header></app-header>
<h1 class="container">Whitepaper</h1>
  <div class="cards-wrapper">
    <div class="card-grid-space">
      <a class="card" href="#" style="--bg-img: url('../../assets/images/devops.png')">
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
      </a>
    </div>
    <div class="card-grid-space">
      <a class="card" href="" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
      </a>
    </div>
    <div class="card-grid-space">
        <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
        </a>
      </div>
      <div class="card-grid-space">
        <a class="card" href="" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
        </a>
      </div>
    </div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>