<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col">
          <h3 class="text-center mt-5 ">Whitepaper</h3>
      </div>
  </div>
</div>
<section class="w3l-team-main" id="team">
<div class="team py-1 mb-5">
  <div class="container py-lg-1 AboutPageTeam">
      <div class="row team-row mt-md-5  justify-content-center">
          <div class="col-lg-3 col-6 team-wrap mt-5">
              <div class="team-member text-center">
                  <div class="team-img">
                      <img src="./assets/images/3ps.png" class="img-fluid radius-image" alt="">
                      <div class="team-details text-center">
                        <div class="download">
                          <a target="_blank" href="https://www.facebook.com/rupeshmeher4u/">
                          <span><i class="bi bi-download"></i></span></a>  
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-6 team-wrap mt-5">
              <div class="team-member text-center">
                  <div class="team-img">
                      <img src="./assets/images/3ps.png" class="img-fluid radius-image" alt="">
                      <div class="team-details text-center">
                        <div class="download">
                          <a target="_blank" href="https://www.facebook.com/rupeshmeher4u/">
                          <span><i class="bi bi-download"></i></span></a>  
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-6 team-wrap mt-5">
              <div class="team-member text-center">
                  <div class="team-img">
                      <img src="./assets/images/3ps.png" class="img-fluid radius-image" alt="">
                      <div class="team-details text-center">
                        <div class="download">
                          <a target="_blank" href="https://www.facebook.com/rupeshmeher4u/">
                          <span><i class="bi bi-download"></i></span></a>  
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-6 team-wrap mt-5">
              <div class="team-member text-center">
                  <div class="team-img">
                      <img src="./assets/images/3ps.png" class="img-fluid radius-image" alt="">
                      <div class="team-details text-center">
                        <div class="download">
                          <a target="_blank" href="https://www.facebook.com/rupeshmeher4u/">
                          <span><i class="bi bi-download"></i></span></a>  
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>

<app-subscribe></app-subscribe>
<app-footer></app-footer>