<section class="py-5">
    <div class="sdscrd container py-5">
    
    <div class="row text-center mt-4 ">
        <div class="col indcard m-3 mt-3 border-gradient border-gradient-purple">
          
          <div class="card-text">
            <div class="desktop">
            </div>
            <div>   
              <h2>Desktop Application</h2>
              <div class="desc">Standalone Application For All Operating System platform develop using javaFX and Electron JS</div>
              <div class="actions">
                <button><i class="bi bi-envelope-fill "></i></button>
              </div>
            </div>
          </div>
  
  
        </div>
        <div class="col indcard m-3 mt-3">
          <div class="card-text">
            <div class="web">
            </div>
            <div>   
              <h2>Web Application</h2>
              <div class="desc">Application that access by web browser with an active network connection develop using Angular and React Framework.</div>
              <div class="actions">
                <button><i class="bi bi-envelope-fill "></i></button>
              </div>
            </div>
          </div>
  
        </div>
        <div class="col indcard  m-3 mt-3">
          <div class="card-text">
            <div class="Enterprise">
            </div>
            <div>   
              <h2>Mobile Application</h2>
              <div class="desc">A standard application run on mobile device developing using Java,swift and Hybrid framework like ionic</div>
              <div class="actions">
                <button><i class="bi bi-envelope-fill "></i></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row text-center mt-4 ">
      <div class="col indcard m-3 mt-3">
        
        <div class="card-text">
          <div class="android">
          </div>
          <div>   
            <h2>Vulnerability Assessment</h2>
            <div class="desc">A systematic process of discovering security weaknesses in an information system or network</div>
            <div class="actions">
              <button><i class="bi bi-envelope-fill "></i></button>
            </div>
          </div>
        </div>
  
  
      </div>
      <div class="col indcard m-3 mt-3">
        <div class="card-text">
          <div class="ios">
          </div>
          <div>   
            <h2>Penetration Testing</h2>
            <div class="desc">An authorized cyberattack on a system or network, performed to evaluate the security weakness.</div>
            <div class="actions">
              <button><i class="bi bi-envelope-fill "></i></button>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col indcard  m-3 mt-3">
        <div class="card-text">
          <div class="hybrid">
          </div>
          <div>   
            <h2>GRC</h2>
            <div class="desc">Governance, Risk Management and compliance is the term covering an organization's approach across these three practices.</div>
            <div class="actions">
              <button><i class="bi bi-envelope-fill "></i></button>
            </div>
          </div>
        </div>
      </div>
  </div>	
  </div>
  </section>